# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      ACR_REGISTRY: openhackagraj1acr.azurecr.io
      ACR_REPOSITORY: devopsoh/api-user-java
      KV_NAME: openhackagraj1kv
      RG_NAME: openhackagraj1rg
      APP_NAME: openhackagraj1userjava

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - uses: azure/login@v1
        with:
          creds: ${{secrets.AZURE_CREDENTIALS}}

      - name: Replace with Secret Values
        uses: datamonsters/replace-action@v2
        with:
          files: 'src/main/resources/application.properties'
          replacements: '$SQL_SERVER=${{ secrets.SQL_SERVER }},$SQL_DBNAME=${{ secrets.SQL_DBNAME }},$SQL_USER=${{ secrets.SQL_USER }},$SQL_PASSWORD=${{ secrets.SQL_PASSWORD }}'

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: ACR Build & Push
        run: |
          az acr build -t ${{ env.ACR_REGISTRY}}/${{ env.ACR_REPOSITORY }}:${{ github.sha }} -r ${{ env.ACR_REGISTRY }} .

      - name: Get Secrets from KV
        id: getSecretsFromKV
        uses: Azure/get-keyvault-secrets@v1
        with:
          keyvault: ${{ env.KV_NAME }}
          secrets: 'SQLDBNAME,SQLPASSWORD,SQLSERVER,SQLUSER'

      - name: Print Secrets
        run: |
          echo "${{ steps.getSecretsFromKV.outputs.SQLDBNAME }} is the db name"

      - name: Deploy the ACR Image to App Service
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.APP_NAME }}
          images: ${{ env.ACR_REGISTRY}}/${{ env.ACR_REPOSITORY }}:${{ github.sha }}
