# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
        
    - name: Replace with Secret Values
      uses: datamonsters/replace-action@v2
      with:
        files: 'src/main/resources/application.properties'
        replacements: '$SQL_SERVER_URL={{secrets.SQL_SERVER_URL}},$SQL_USER={{secrets.SQL_USER},$SQL_PASSWORD={{secrets.SQL_PASSWORD}}'
       
    - name: Build with Maven
      run: mvn -B package --file pom.xml
