name: Deploy

on:
  workflow_run:
    workflows: ["build"]
    types:
      - completed

jobs:
  deploy:

    runs-on: ubuntu-latest
    env:
      ACR_REGISTRY: openhackagraj1acr.azurecr.io
      ACR_REPOSITORY: devopsoh/api-user-java
      KV_NAME: openhackagraj1kv
      RG_NAME: openhackagraj1rg
      APP_NAME: openhackagraj1userjava

    steps:
      - uses: actions/checkout@v2
      - uses: azure/login@v1
        with:
          creds: ${{secrets.AZURE_CREDENTIALS}}
      - name: Deploy the ACR Image to App Service
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.APP_NAME }}
          images: ${{ env.ACR_REGISTRY}}/${{ env.ACR_REPOSITORY }}:latest